
.App {
    text-align: center;
    
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.box-controller {
    margin-top: 5%;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 24em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    width: 12em;
    padding: 4px 35px;
    /* background-color: #417cef; */
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    border: 1px solid white;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: white;
}

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 0px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 7px;
    margin-top: 5%;
    background-size: cover;
}

.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid white;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;

}


.login-input {
    height: 0.1em;
    border-radius: 3px;
    border: 1px solid white;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    color:white;
    background: rgba(15, 15, 15, 0.01);
}

.comment-input {
    height: 0.1em;
    border-radius: 3px;
    border: 1px solid white;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    color: white;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid white;
}

.login-input:focus {
    border: 2 solid white;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.comment-input:hover {
    border: 2px solid white;
}

.comment-input:focus {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.selected-controller {
    transition: border ;
    border-bottom: 4px solid white;
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 1px solid white;
    transition: border 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    cursor: pointer;
    max-width: 24em;
    min-width: 21em;
    
}

.cancel-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 1px solid white;
    transition: border 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    cursor: pointer;
    max-width: 24em;
    min-width: 21em;
    background-size: cover;
    color: white;
}

.login-btn:hover {
    border: 2px solid white;
}

.login-btn:focus {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
    background-color: white;
    color: white;
}

.cancel-btn:hover {
    border: 2px solid white;
}

.cancel-btn:focus {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
    background-color: white;
    color: white;
}

.comment-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 1px solid white;
    transition: border 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    cursor: pointer;
}

.comment-btn:hover {
    border: 2px solid white;
}

.comment-btn:focus {
    border: 2px solid white;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
    background-color: white;
    color: white;
}

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 2%;
    color: white;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}



.hotel-img {
    opacity: 1;
    display: block;
    width: 40%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border:1px solid white;
    
}

.hotel-img:hover {
    opacity: 0.3;
  }

.middle:hover{
    opacity: 1;
  }
  
.text {
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.container {
    position: relative;
    width: auto;
    margin:5%;
    border:1px solid white;
    padding:5px;
    border-radius: 6px;

}

.text-des{
    border:1px solid white;
    margin-right: auto;
    height: 60%;
    width: 55%;
    max-height: 50%;
    float: right;
    border-radius: 6px;
    color: white;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
    
}

.view{
    max-width: 50% 
}

.left-top{
    position: relative;
    float: left;
}

.right-top{
    position: relative;
    float: left;
}

.left-bottom{
    position: relative;
    float: left;
    top: 100%;
}

.right-bottom{
    position: relative;
    float: left;
    top: 100%;
}

.logout-btn {
    padding: 2px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 1px solid white;
    transition: border 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    cursor: pointer;
    max-width: 24em;
    min-width: 21em;
    color: white;
}

.sparkline-left{
    position: relative;
    float: left;
    border-right: 1px solid white; 
}

.sparkline-center{
    position: relative;
    float: left;
    border-right: 1px solid white; 
}

.sparkline-right{
    position: relative;
    float: left;
}

.sparkline-bottom{
    position: relative;
    float: left;
}

.top{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    float: left;  
    width: 100%;
    
}

.bottom{
    position: relative;
    margin-top: 5%;
    float: left;
}

.heatmap{
    width: 40%;
    left: 10%;
}

.slider{
    color: white;
}